:root{
    --primary-color : #2B2B2B;
    --text-color : #202020;
    --secondary-color: #7AC9A1; 
    --accent1-color: #0c0c0aec;
    --heading-font: "Raleway", "Montserrat", sans-serif;
    --body-font: "Roboto", Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--text-color);
}

header, main, footer{
    width: 840px;
    margin:  0 auto;
}


header{
    display: flex;
    justify-content:space-between;
    background-color: var(--secondary-color);
    font-family: var(--body-font);
    color: var(--text-color);
}
header nav{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}


h2{
    font-family: var(--heading-font);
    font-size: 1.7rem;
    color: var(--accent1-color);
}
nav, p, section,article{
    margin: 5px;
    padding: 4px;
}


.hero{
    position: relative;
    width: 100%;
}

.hero .hero-image{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    font-family: var(--heading-font);
     font-weight: 700;  
     position: absolute;
     top: 5%;
     left: 5%;
    background: rgba(128, 128, 128, 0.47);
    padding: 1rem;
    width: 90%;
    font-size: 1.5rem;  
    text-align: center;        
    line-height: 1.2;        
    color: rgba(33, 37, 41, 0.95); 
    letter-spacing: -0.5px;
}

.hero article {
padding: 1rem;
position: absolute;
top: 15%;
width: 99%;
background: rgba(128, 128, 128, 0.6);
color: var(--primary-color);
}
.hero article img{
    float: right;
    padding: 5px;
}
.hero article p{
    line-break: anywhere;
    color: var(--text-color);
}
section{
    margin: 1rem;
}

 .socialmedia{
    display: flex;
}


nav a{
    text-decoration: none;
}
nav a:hover{
    color: #2B2B2B;
}

.history{
   display: flex; 
   margin-top: 1rem;
   gap: 1rem;
}

.history img{
    border: none;
    border-radius: 5px;
}

.history p{
    line-break: anywhere;
    line-height: 20px;
}

main h2{
    margin-left: 2rem;
}
.adventure{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

figure img{
    width: 100%;
}


.socialmedia img{
    width: 80px;
}
footer{
   display: flex;
   justify-content: center;
   gap: 1rem;
}

footer nav{
    gap: 1rem;
}

footer p{
    margin-top: 2.5rem;
}

