:root{
    --primary-color : #2B2B2B;
    --text-color : #202020;
    --secondary-color: #7AC9A1; 
    --accent1-color: #0c0c0aec;
    --heading-font: "Raleway", "Montserrat", sans-serif;
    --body-font: "Roboto", Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--text-color);
}

header, main, footer, .heading{
    width: 840px;
    margin:  0 auto;
}


header{
    display: grid;
    grid-template-columns: repeat(2,350px);
    justify-content:space-between;
    background-color: var(--secondary-color);
    font-family: var(--body-font);
    color: var(--text-color);
}
header nav{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.heading {
   position: relative;
   .hero-image{
    display: flex;
    overflow: hidden;
     img{
        width: 100%;
    height: 20rem;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px;
     }
   }
}

 .heading h1 {
        position: absolute;
        font-size: 2rem;
        width: 100%;
        padding: 20px;
        top: 18%;
        left: 5%;
        right: 5%;
        color: white;
        border-radius: 5px;        
    }
   

.heading img {
        width: 100%;
        border-radius: 5px;
        display: block;
        border: 4px solid rgb(217, 209, 209);
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    gap: .9rem;
    justify-content: center;
    padding: 15px;
}

.content p{
  text-align: start;
  line-break: anywhere; 
}
.content img{
  width: 100%;
}
.call-action{
    background: rgba(200, 200, 200, 0.1);
    padding: 10px;
}

h2{
    font-family: var(--heading-font);
    font-size: 1.7rem;
    color: var(--accent1-color);
}
.call-action a {
    color: #fff;
    text-decoration: none;
    margin: 1rem;
}
button{
    cursor: pointer;
}
nav, p, section,article{
    margin: 5px;
    padding: 4px;
}


.hero{
    position: relative;
    width: 100%;
}

.hero .hero-image{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    font-family: var(--heading-font);
     font-weight: 700;  
     position: absolute;
     top: 5%;
     left: 5%;
    background: rgba(128, 128, 128, 0.47);
    padding: 1rem;
    width: 90%;
    font-size: 1.5rem;  
    text-align: center;        
    line-height: 1.2;        
    color: rgba(33, 37, 41, 0.95); 
    letter-spacing: -0.5px;
}

.hero article {
padding: 1rem;
position: absolute;
top: 15%;
width: 99%;
background: rgba(128, 128, 128, 0.6);
color: var(--primary-color);
}
.hero article img{
    float: right;
    padding: 5px;
}
.hero article p{
    line-break: anywhere;
    color: var(--text-color);
}
section{
    margin: 1rem;
}

 .socialmedia{
    display: flex;
}


nav a{
    text-decoration: none;
}
nav a:hover{
    color: #2B2B2B;
}

.history{
   display: grid; 
   grid-template-columns: repeat(3,1fr);
}

.history img{
    border: none;
    margin: 1.5rem;}

.history p{
    line-break: anywhere;
    line-height: 20px;
}

main h2{
    margin-left: 2rem;
}
.adventure{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

figure img{
    width: 100%;
}


.socialmedia img{
    width: 80px;
}
footer{
   display: flex;
   justify-content: center;
   gap: 1rem;
}

footer nav{
    gap: 1rem;
}

footer p{
    margin-top: 2.5rem;
}


.contact-info{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


form, .map{
   width: 400px;
   margin: 1rem;
}

.item{
    margin: .75rem;
}

input, textarea{
    width: 100%;
    padding: .70rem;
}

button{
    width: 370px;
    padding: .70rem;
    margin: 1rem;
    display: block;
    border: none;
    border-radius: 5px;
    background: #0c198c;
    color: #fff;
}
label{
    width: 100%;
    font-size: 15px;
}

.rd{
    width: 99%;
    display: flex;
    text-align: center;
}

.box{
    display: flex;
}
.team{
    text-align: center;

}

.employees{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
}

.employees img{
    width: 200px;
}
iframe{
    width: 400px;
    height: 400px;
    border: none;
}

.trip-descriptions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.trip{
    text-align: center;
}
.trip span {
    font-size: 14px;
    text-align: center;
}
.trip p{
    text-align: start;
    line-break: anywhere;
}
.trip img{
    width: 100%;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.47);
    border-radius: 3px;
}
.trip h3{
    font-size: 1.5rem;
}
