:root{
    --primary-color:#87CEEB;
    --secondary-color: #F0F0F0; /* Green */
    --accent1-color:#FF7F50 ;
    --accent2-color: #B3B492;
}

a {
    text-decoration: none;
}

p{
    font-family: 'Georgia',serif;
    color: var(--secondary-color);
    line-height: 1.6;
    margin-bottom: 1em;
}
main.hero{
  position: relative;
  background-image: url(.Bacgk) -moz-repeat center flex;
}

main.hero.Bacgk{
  display: block;
  width: 100px;
  height: auto;
}

h1 {
    font-size: 2.5em;   /* Larger font size for h1 */
    font-weight: bold;   /* Making h1 bold */
  }
  
 article.smallerimg {
  float: right; /* Makes the image float to the right */
  margin-left: 15px; /* Adds space between the image and the text */
  position: absolute;
 }
