:root{
    --primary-color: #050404dc;
    --text-color : #333;
    --secondary-color: #40916c; 
    --accent1-color: #0c0c0aec;
    --accent2-color: #007bff52;
    --heading-font: "Raleway", "Montserrat", sans-serif;

    --body-font: "Roboto", Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--body-font);
    color: var(--text-color);
}

header, main, footer{
    width: 840px;
    margin:  0 auto;
}


header{
    background-color: var(--secondary-color);
    font-family: var(--body-font);
    color: var(--text-color);
}
header nav{
    display: flex;
    flex-direction: column;
}


h2{
    font-family: var(--heading-font);
    font-size: 1.7rem;
    color: var(--accent1-color);
}
nav, p, section,article{
    margin: 5px;
    padding: 4px;
}

.socilamedia a{
    text-decoration: none;
}

.hero{
    position: relative;
    width: 100%;
}

.hero .hero-image{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    font-family: var(--heading-font);
     font-weight: 700;  
     position: absolute;
     top: 5%;
     left: 5%;
    background: rgba(128, 128, 128, 0.47);
    padding: 1rem;
    width: 90%;
    font-size: 1.5rem;  
    text-align: center;        
    line-height: 1.2;        
    color: rgba(33, 37, 41, 0.95); 
    letter-spacing: -0.5px;
}

article{
    display: flex;
padding: 1rem;
position: absolute;
top: 15%;
width: 99%;
background: rgba(128, 128, 128, 0.47);
}
article img{
    
    width: 125px;
}
.article p{
    color: var(--text-color);
    font-size: 1.5rem;
    padding-top: 2rem;
}
section{
    margin: 1rem;
}

footer nav{
    display: flex;
}

footer img{
    width: 80px;
}

footer p{
    margin: 1rem;
}

