
:root{
    --darkbleu-Clr : #00008c;
    --max-W : 840px;

}
nav{
    background: var(--darkbleu-Clr);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: var(--max-W)
}

h1{
    color: var(--darkbleu-Clr);
}

 main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0px;
}


aside{
    width: 40rem;
    background-color: #ffff;
    border: 1px solid rgb(0 0 0 /10%);
    margin: 10px;
    padding: 10px;
    color: #333;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}