/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    color: var(--text-color);
    background-color: #f1f1f1;
}

main img{
    margin-bottom: 1rem;
    float: right;
}
main p{
    margin-top: 1rem;
    line-height: 1.2rem;
    padding-right: 1rem;
}

.box{
    clear: both;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --darkbleu-Clr : #00008c;
    --max-W : 840px;
    --text-color: #333;
}
nav{
    background: var(--darkbleu-Clr);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: var(--max-W)
}

h1{
    color: var(--darkbleu-Clr);
    border-bottom: 1px solid #a29e9e;
    margin-bottom: 1rem;
}

 main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0px;
}


aside{
    position: relative;
    width: 40rem;
    color: var(--text-color);
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}
aside h2{
    position: absolute;
    left: 30px;
    top: 50px;
    right: 20px;
    color: var(--text-color);
    font-size: .8rem;
}

footer{
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}

header,.grid,footer{
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,350px);
    gap: 3rem;
}

main{
    grid-column: 1/2
}
aside{
    grid-column: 2;
    width: 400px;
}

